@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div>
    <h2>This is a hobby project.</h2>
    <p>This project is merely intented for learning purposes and is not inteded to be a fully functioning app. I only use this to learn or test code out. </p>
</div>