@* @model TModel *@
@model Mvc.Models.Todo.TodoIndexViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Detail</title>
</head>
<body>
<div>
    <h2>@Model.title</h2>
</div>
</body>
</html>