@* @model TModel *@
@model Mvc.Models.Todo.TodoIndexViewModel


<!DOCTYPE html>

<html>
<head>
    <title>Detail</title>
</head>
<body>
<div>
    <h2>Todo Details</h2>
    
    <div>
        <h3>@Model.Title</h3>
        <p>@Model.Description</p>
        <p>user:@Model.Name</p> 
        <p>@Model.Description</p>
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
   
    
</div>
</body>
</html>