@* @model TModel *@
@model Mvc.Models.Todo.TodoIndexViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Detail</title>
</head>
<body>
<div>
    <h2>@Model.title</h2>
    
    <p>@Model.Description</p>
    <p>user:@Model.Name</p>
    
    <p>@Model.Description</p>
    
</div>
</body>
</html>