@model IEnumerable<Mvc.Models.Todo.TodoIndexViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>TODO INDEX</title>
</head>
<body>
<div>
    <h2>TODO INDEX</h2>
    @foreach(var todo in Model)
    {
        <div>
            <h3>@todo.Id</h3>
            <p>@todo.Description</p>
            <p>@todo.StatusItem</p>
            <p>@todo.User</p>
        </div>
    }
</div>
</body>
</html>